@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');
:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --lightgrey-magenta: hsl(303, 10%, 53%);
    --darkgrey-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    background-image: url("./assets/images/bg-pattern-top-desktop.svg"), url("./assets/images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

.fs-15 {
    font-size: 15px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.main {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.container:nth-child(2) {
    height: 30%;
}

.container-content, .rating {
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline, .user-desc {
    color: var(--dark-magenta);
}

.headline {
    font-size: 50px;
    margin: 0;
}

.content {
    color: var(--lightgrey-magenta);
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    width: 400px;
    background-color: var(--darkgrey-magenta);
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 8px;
    border-radius: 10px;
}

.star, .desc {
    padding-left: 25px;
}

.review:nth-child(2) {
    position: relative;
    left: 40px;
}

.review:last-child {
    position: relative;
    left: 80px;
}

.cards {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 300px;
    height: 200px;
    background-color: var(--dark-magenta);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-left: 25px;
    border-radius: 10px;
}

.profile {
    display: flex;
}

.profile-img {
    border-radius: 50%;
}

.profile-name {
    padding-left: 15px;
}

.name {
    color: var(--white);
}

.user-verified {
    color: var(--soft-pink);
}

.card-content {
    color: var(--white);
    line-height: 20px;
}

.card:nth-child(2) {
    transform: translateY(5%);
}

.card:nth-child(3) {
    transform: translateY(11%);
}